---
const { identifier, label, type, placeholder } = Astro.props;
---

<div class="space-y-5 reveal-fade-up">
  <label for={identifier} class="block">{label}</label>
  <input
    type={type}
    name={identifier}
    id={identifier}
    placeholder={placeholder}
    class="w-full px-5 py-4 rounded-xl bg-gray-950/3 border-1 border-gray-950/25 text-black focus:outline-teal-600 focus:text-teal-600 transition-all duration-500"
  />
</div>
