---
const { position, positionX, positionY, rotate, color } = Astro.props;
---

<div
  class={`${position} ${positionX} ${positionY} ${rotate} ${color} w-17.5 p-5 aspect-square bg-white rounded-xl shadow-[20px_20px_40px_rgba(0,0,0,0.25)]`}
>
  <slot name="icon" />
</div>
